img {
    width: 50%;
    height: 350px;
}

h1 {
    background-color: rgb(50, 161, 161);
}
h2 {
    background-color: rgb(85, 79, 71);
}
h3 {
    background-color: rgb(39, 180, 180);
}
<p> {
    background-color: rgb(219, 219, 66);
}
html {
    background-color: rgb(95, 187, 157);
}
